<div class="container">
  <div class="form-row">
   <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-3">
          <label for="category">Category</label>
          <select  formControlName="category" class="form-control" id="category">
            <option>Men</option>
          </select>
        </div>
    <div class="form-group col-md-3">
      <label for="brand">Brand</label>
      <select   formControlName="brand" class="form-control" id="brand">
        <option>1</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="color">Color</label>
      <select  formControlName="color"  class="form-control" id="color">
        <option>1</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="price-min">Price Range:</label> 
      <input type="text"  formControlName="pricemin" class="form-control" id="price-min" value="0">
    </div>
    <div class="form-group col-md-3">
      <label for="price-max">To</label>
      <input type="text"  formControlName="pricemax" class="form-control" value="1000">
    </div>
    </form>
  </div>
</div>
<hr>
<!--Format all search results as the below card-->
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 >Dummy Item Title</h4>
      </div>
      <div class="card-body">
        <div><label>Category:</label>fake category</div>
        <div><label>Brand:</label>fake brand</div>
        <div><label>Color:</label>fake color</div>
        <div><label>Price:</label>$1,000,000</div>
      </div>
    </div>
  </div>
</div>